@charset "utf-8";
/* CSS Document */
.content-header {
    width: 100%;
    padding: 10px;;
}
.content-header h2 {
    font-size: 1.5rem;
    text-align: center;
}
.content-header h3 {
    text-align: center;
    color: rgb(25, 25, 25);
    border: 1px black solid;
    background-color: darkseagreen;
}
.content-navi {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
}
.content-navi-item {
    width: 10rem;
    border: solid 1px white;
    background-color: lightskyblue;
}
.content-navi-item:hover {
    color: white;
    background-color: rgb(68, 68, 250);
}
.content-navi-item-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.content-navi-item-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content-body {
    width: 90%;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.content-body table,td,th {
    border: 1px black solid;
}
.content-body table {
    background-color:snow;
}
.content-body th {
    color: white;
    background-color: darkgray;
}
.content-body table {
    width: 100%;
}
.content-body td {
    padding: 5px;
}
.linkGroup,.linkPlayer,.linkBibs {
    width: 5rem;
    background: lightgoldenrodyellow; 
}
.linkGroup:hover {
    background: lightpink; 
}
.linkPlayer:hover {
    background: lightgreen; 
}
.linkBibs:hover {
    background: rgb(255, 140, 255); 
}
.organizationName {
    text-align: left;
    font-size: 1.2rem;
}
.bibs {
    text-align: right;
    font-size: 2rem;
}
.playerName {
    text-align: left;
}
.actingOrderTitle {
    font-size: 1.0rem;
}
.score {
    width: 2.5rem;
}
.boderLeft2 {
    border-left-width: 2px;
}
.boderBottom2 {
    border-bottom-width: 2px;
}

/* PAGE: Competition */
.competition .content-body {
    margin-top: 50px;
}
.competition .content-body h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}
.competition .content-body select {
    font-size: 1.1rem;
    border:1px;
}
.competition .content-body button {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100px;
}

/* PAGE: Subdivision */
.subdivision .actingTime {
    width: 11rem;
}

/* PAGE: Group */
.group .organizationName {
    width: 15rem;
}

/* PAGE: Player */
.player table {
    border-width: 2px;
}
.player th {
    border-bottom-width: 2px;
}

/* PAGE: Input */
.input input {
    font-size: 3.0rem;
    width: 8rem;
}