@charset "utf-8";
/* CSS Document */
.loading {
  max-width: 50%;
  margin: 0 auto;
  display: table;
}
.loading .image {
  display: table-cell;
  height: 300px;
  vertical-align: middle;
  text-align: center;
}
.content-header, .content-footer {
  width: 100%;
  padding: 10px;;
}
.content-header h1 {
  font-size: 1.5rem;
}
.content-header h2 {
  font-size: 1.2rem;
  text-align: center;
}
.content-header h3 {
  font-size: 1.2rem;
  text-align: center;
  color: rgb(25, 25, 25);
  border: 1px black solid;
  background-color: darkseagreen;
}

.content-navi {
  width: 100%;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 20px;
}
.content-navi-item {
  width: 10rem;
  border: solid 1px white;
  background-color: lightskyblue;
}
.content-navi-item:hover {
  color: white;
  background-color: rgb(68, 68, 250);
}
.content-navi-item-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.content-navi-item-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content-body {
  width: 95%;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.content-body td, .content-body th {
  border: 1px black solid;
}
.content-body table {
  background-color:snow;
  width: 100%;
}
.content-body th {
  color: white;
  background-color: darkgray;
}
.content-body table {
  width: 100%;
}
.content-body td {
  padding: 5px;
}

.content-footer  {
  font-size: 1.5rem;
  text-align: center;
}
.content-footer button {
  width: 200px;
}
.content-footer label {
  display: inline-block;
  position: relative;
  padding-left: 1em;
}
.content-footer label input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.linkGroup, .linkPlayer, .linkBibs {
  width: 5rem;
  background: lightgoldenrodyellow; 
}
.linkGroup:hover {
  background: lightpink; 
}
.linkPlayer:hover {
  background: lightgreen; 
}
.linkBibs:hover {
  background: rgb(255, 140, 255); 
}
.organizationName {
  text-align: left;
  font-size: 1.2rem;
}
.bibs {
  text-align: right;
  font-size: 2rem;
}
.playerName {
  text-align: left;
}
.actingOrderTitle {
  font-size: 1.0rem;
}
.score {
  width: 2.5rem;
}
.top-number {
  background-color: rgb(230, 190, 160);
}
.abstention {
  background-color: rgb(200, 200, 200);
}

/* PAGE: Competition */
.competition .content-body {
  font-size: 2.0rem;
  margin-top: 50px;
}
.competition .content-body h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}
.competition .content-body select {
  font-size: 2.0rem;
  border:1px;
  margin-bottom: 20px;
}
.competition .content-body button {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 200px;
}

/* PAGE: Subdivision */
.subdivision .content-body table {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.subdivision .actingTime {
  width: 14rem;
  text-align: left;
  padding-left: 20px;
}
.subdivision .organizationName {
  width: 20rem;
}

/* PAGE: Group */
.group .content-body table {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.group .organizationName {
  width: 15rem;
}

/* PAGE: Player */
.player table tr th {
  border-top-width: 2px;
  border-bottom-width: 2px;
}
.player .boderLeft2 {
  border-left-width: 2px;
}
.player .boderRight2 {
  border-right-width: 2px;
}
.player .teamTotalNull {
  border-top-width: 2px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  background-color: white;
}
.player .teamTotalLabel {
  border-width: 2px;
}
.player .teamTotal {
  border-width: 2px;
}
.player .content-footer div {
  margin-top: 20px;
  vertical-align: middle;
}

/* PAGE: Input */
.input table {
  width: 100%;
  border: 2px black solid;
}
.input table tr th {
  width: 110px;
  border-bottom-width: 1px;
}
.input table tbody tr td, .input table tbody tr td input, .input table tbody tr td div {
  font-size: 1.8rem;
  width: 4rem;
}
.input .participatingPlayer {
  width: 100%;
  font-size: 1.8rem;
  text-align: center;
}
.input .participatingPlayer div {
  display: inline-block;
}
.input .boderLeft2 {
  border-left-width: 2px;
}
.input .boderBottom2 {
  border-bottom-width: 2px;
}

.input .tenKeypad {
  width: 300px;
  margin: auto;
  font-size: 1.8rem;
}
.input .tenKeypad table {
  border: 1px black solid;
  background-color: gray;
  color: white;
}
.input .tenKeypad table tbody tr {
  height: 30px;
}
.input .tenKeypad .line0 {
  background-color: rgb(70, 70, 70);
}
.input .tenKeypad table tbody tr td {
  width: 100px;
  border: 1px black solid;
}

@media only screen and (max-width: 800px) {
  .input table {
    width: 260px;
    margin: auto;
    border-width: 2px;
  }
  .input table thead {
    display: block;
    float: left;
    width: 50%;
  }
  .input table tbody {
    display: block;
    float: left;
    width: 50%;
  }
  .input table thead tr, .input table tbody tr {
    display: block;
    float: left;
    width: 100%;
  }
  .input table thead tr th, .input table tbody tr td  {
    display: block;
    height: 90px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
  }
  .input table thead tr th div, .input table tbody tr td div {
    height: 90px;
  }
  .input table thead tr th, .input table tbody tr td {
    width: 100%;
    text-align: center;
    display: table;
  }
  .input table thead tr th div, .input table tbody tr td div {
    display: table-cell;
    vertical-align: middle;
  }
  .input .boderLeft2 {
    border-top: 2px black solid;
  }
  .input .boderBottom2 {
    border-top: 2px black solid;
  }
}
